@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Kanit', sans-serif;
    background-color: aliceblue;
}

.container {
    width: 100vw;
    height: 100vh;
}

.header {
    background-color: #a2ddf2;
    box-shadow: 0 0 .5em #0004;
}

.navbar-up {
    padding: 15px 30px;
}

.navbar-up-logo {
    width: 200px;
    background-color: blue;
}

.navbar-down {
    height: 50px;
    padding: 0 30px;
    box-sizing: border-box;
    border: 1px solid #0004;
    border-style: solid none none none;
}

.navbar-down1 {
    width: 50vw;
}

.navbar-down2 {
    width: 30vw;
}

.navbar-down>div>div>a {
    text-decoration: none;
    font-size: 20px;
    color: #030e63;
}

.navbar-up-profile-downbtn {
    background-color: #4fc6f0;
    border-radius: 5px;
    color: white;
    padding: 2px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 180px;
}

.navbar-up-profile-down {
    position: relative;
    display: inline-block;
}

.navbar-up-profile-down-content {
    display: none;
    position: absolute;
    background-color: #4fc6f0;
    color: white;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    border-radius: 5px;
}

.navbar-up-profile-down-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.navbar-up-profile-down-content a:hover {
    background-color: #128bb5;
    border-radius: 5px;
}

.navbar-up-profile-down:hover .navbar-up-profile-down-content {
    display: block;
}

.navbar-up-profile-down:hover .navbar-up-profile-downbtn {
    background-color: #4fc6f0;
}

.main {
    width: 100%;
    min-height: 90vh;
}

.container_main {
    width: 95%;
    height: 95%;
    box-sizing: border-box;
    border: 1px solid #0004;
}

.main-title {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.1em;
    padding: 5px 20px;
    color: #030e63;
}

.main-form {
    width: 100%;
    height: 100%;
}

.datas-label {
    font-size: 25px;
    color: midnightblue;
}

.datas-group {
    width: 32%;
    height: 10em;
    padding: 20px 0;
    box-shadow: 0 0 .5em #0004;
    border-radius: 10px;
}

#datas-group-child {
    height: 6em;
}

.datas-input {
    width: 400px;
    height: 35px;
    background-color: #a2ddf2;
    border-style: none;
    border-radius: 5px;
    color: midnightblue;
    font-size: 18px;
}

.datas-group1 {
    width: 95%;
    padding: 0 20px;
}

.datas-title {
    width: 95%;
    font-size: 30px;
    padding: 0 10px 15px 10px;
    color: #eba66a;
}

.main-group-btns {
    width: 50%;
}

.group-btns {
    border-radius: 8px;
    border-style: none;
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    box-shadow: 0 0 .5em #0004;
    cursor: pointer;
}

.group-btns:hover {
    border-radius: 8px;
    border-style: none;
    padding: 15px 32px;
    font-size: 16px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid #4CAF50;
    background-color: rgba(76, 175, 80, 0.24);
    color: #4CAF50;
}

.btn_add {
    border-radius: 8px;
    border-style: none;
    background-color: #eba66a;
    color: white;
    padding: 15px 32px;
    font-size: 20px;
    box-shadow: 0 0 .5em #0004;
}

.btn_add:hover {
    border-radius: 8px;
    border-style: none;
    background-color: rgba(235, 166, 106, 0.24);
    color: #eba66a;
    padding: 15px 32px;
    font-size: 20px;
    border: 2px solid #eba66a;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.container_footer {
    width: 100vw;
    height: 150px;
    background-color: #a2ddf2;
    box-shadow: 0 0 .5em #0004;
}


/*  tabela incluir despesas */

.table{
    border-collapse: collapse;
    border: 1px solir #000;
    width: 50%;
}


caption {
    border-top: 10px soli #a5a5a5;
    border-bottom: 1px solid #a5a5a5;
}
td {
    padding: 1rem 1,2rem;
  
    
}

tr {
    background-color: #f5f5f5;
    border-bottom: 1px solid #a5a5a5;
}

tr:nth-child(even){
    background-color: #089bfd;
    border-bottom: 1px solid #a5a5a5;
}

tr:hover{
    background-color: #dcdcdc;
    border-bottom: 1px solid #000;
}

th {
    background-color: #000;
    color: #fff;
}

tfoot{
    background-color: #dcdcdc;
}



