.datas-label {
    font-size: 25px;
    color: midnightblue;
}

.datas-group {
    width: 32%;
    height: 10em;
    padding: 20px 0;
    box-shadow: 0 0 .5em #0004;
    border-radius: 10px;
}

#datas-group-child {
    height: 6em;
}

.datas-input {
    width: 400px;
    height: 35px;
    background-color: #a2ddf2;
    border-style: none;
    border-radius: 5px;
    color: midnightblue;
    font-size: 18px;
}

.datas-group1 {
    width: 95%;
    padding: 0 20px;
}

.datas-title {
    width: 95%;
    font-size: 30px;
    padding: 0 10px 15px 10px;
    color: #eba66a;
}

.btn_add {
    border-radius: 8px;
    border-style: none;
    background-color: #eba66a;
    color: white;
    padding: 15px 32px;
    font-size: 20px;
    box-shadow: 0 0 .5em #0004;
}

.btn_add:hover {
    border-radius: 8px;
    border-style: none;
    background-color: rgba(235, 166, 106, 0.24);
    color: #eba66a;
    padding: 15px 32px;
    font-size: 20px;
    border: 2px solid #eba66a;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


/*Sprint_02*/