.main-table {
    width: 70em;
    min-height: 70%;
}

.main-tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #a2ddf2;
}

.main-tabs button {
    font-size: 20px;
    color: midnightblue;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.main-tabs button:hover {
    background-color: #ddd6;
}

.main-tabs button.active {
    background-color: #ddd6;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tb-expenses-group {
    width: 100%;
    min-height: 39em;
    max-height: 39em;
}

.main-top,
.main-down {
    width: 98%;
    padding: 0 1%;
}

.tb-expenses-title {
    width: 70em;
    height: 3em;
    border-bottom: 1px solid #eba66a;
}

.tb-expenses-item {
    width: 67em;
    height: 3.5em;
    border-bottom: 1px solid #0003;
}

.tb-expenses-th {
    width: 30em;
    font-size: 18px;
    color: midnightblue;
    font-weight: bold;
    letter-spacing: 5px;
}

.tb-expenses-td {
    width: 10em;
    font-size: 20px;
    letter-spacing: 5px;
}

.tb-expenses-tbody {
    overflow-y: auto;
    overflow-x: none;
}

::-webkit-scrollbar {
    width: 20px;
}

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

 ::-webkit-scrollbar-thumb {
    background-color: #a2ddf2;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #a2ddf2;
}

.btn_add {
    border-radius: 8px;
    border-style: none;
    background-color: #eba66a;
    color: white;
    padding: 15px 32px;
    font-size: 20px;
    box-shadow: 0 0 .5em #0004;
}

.btn_add:hover {
    border-radius: 8px;
    border-style: none;
    background-color: rgba(235, 166, 106, 0.24);
    color: #eba66a;
    padding: 15px 32px;
    font-size: 20px;
    border: 2px solid #eba66a;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


/*Sprint_02*/