.main {
    width: 100%;
    min-height: 90vh;
}

.container_main {
    width: 95%;
    height: 95%;
    box-sizing: border-box;
    border: 1px solid #0004;
}

.main-title {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.1em;
    padding: 5px 10px;
    color: #030e63;
}

.main-form {
    width: 100%;
    height: 100%;
}

.main-form-group-btns {
    width: 50%;
}

.group-btns {
    border-radius: 8px;
    border-style: none;
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    box-shadow: 0 0 .5em #0004;
    cursor: pointer;
}

.group-btns:hover {
    border-radius: 8px;
    border-style: none;
    padding: 15px 32px;
    font-size: 16px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid #4CAF50;
    background-color: rgba(76, 175, 80, 0.24);
    color: #4CAF50;
}