.main {
    width: 100%;
    min-height: 90vh;
}

.container_main {
    width: 95%;
    height: 95%;
    box-sizing: border-box;
    border: 1px solid #0004;
}

.main-title {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.1em;
    padding: 5px 10px;
    color: #030e63;
}