.tb-group {
    width: 30em;
    box-shadow: 0 0 .5em #0004;
}

.tb-group-tr-title {
    width: 30em;
    height: 3em;
    border-bottom: 1px solid #eba66a;
    background-color: rgba(235, 166, 106, 0.24)
}

.tb-group-label-title {
    font-size: 25px;
    color: #eba66a;
    padding: 0 5px;
}

.tb-group-tr-item {
    width: 30em;
    height: 2em;
}

.tb-group-th {
    width: 18em;
    padding: 0 8px;
}

.tb-group-td {
    width: 9.5em;
    padding: 0 8px;
}

.tb-group-input {
    width: 8em;
    border: none;
    font-size: 18px;
    background-color: transparent;
}

.tb-group-label {
    font-size: 20px;
    color: midnightblue;
}