.datas-group-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.main-form-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


/*Sprint_02*/