.datas-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.datas-group1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}