.main-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.datas-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.datas-group1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-form-group-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}


/*Sprint_02*/