.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-group-conn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


/*Sprint_02*/