.container {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main-title {
    align-self: flex-start;
}

.main-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main-form-group-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}