.container {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main-top,
.main-title {
    align-self: flex-start;
}

.main-down {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}


/*Sprint_02*/