.datas-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.datas-group1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.datas-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.btn_add {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Sprint_02*/