.tb-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tb-group-tr-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tb-group-tr-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tb-group-th {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.tb-group-td {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}